.intro {
    width: 100%;
    height: 100vh;
    min-height: 820px;
    background: url(../../img/intro-bg.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 5;  
    &__flex {
        width: 400px;
        margin: 0 auto;
    }
    .slick-arrow {  
        position: absolute;
        top: 50%;
        border: 0;
        background: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        outline: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 700; 
        z-index: 1000; 
        cursor: pointer;
    }
    .slick-prev {
        left: 0;
        &:after {
            position: absolute;
            content: "";
            width: 50px;
            height: 2px;
            background-color: #e3a062;
            top: 50%;
            display: block;
            right: -60px;
        }
    }
    .slick-next {
        right: 0;
        &:before {
            position: absolute;
            content: "";
            width: 50px;
            height: 2px;
            background-color: #e3a062;
            top: 50%;
            display: block;
            left: -60px;   
        }
    }
}
.mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: linear-gradient(to bottom, #000000,);
    opacity: 0.9;
}
.intro__inner {
    z-index: 15;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    text-align: left;
    display: flex;
    align-items: center;
    &-title {
        font-family: 'Playfair Display', serif;
        font-size: 120px;
        font-weight: 700;
        color: #e3a062;
        padding-bottom: 40px;
        width: 400px;
        margin: 0 auto;
        text-align: left;
    }
    &-subtitle {
        font-size: 16px;
        color: #fff;
        font-weight: 400;
        padding-bottom: 65px;
        width: 400px;
        margin: 0 auto;
        text-align: left;
    }
    &-link {
        font-size: 14px;
        text-transform: uppercase;
        color: #e3a062;
        cursor: pointer;
        &:after {
            content: "";
            display: block;
            width: 85px;
            height: 2px;
            background-color: #e3a062;
            margin-top: 10px;
        }
    }

}
.slider-header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center
}